.comment {
    padding-top: 1rem;
    margin: 2rem auto;
}

.comment-header {
    text-align: center;
    background-color: var(--secondary);
    padding: 20px;
    color: white;
    border-radius: 0.3rem;
}

.comment-title {
    font-size: 1.5em;
    color: white;  
}